* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global styles */
html {
  height: 100%; }

body {
  background: #fff;
  color: #343434;
  font-family: "Raleway"; }

a {
  color: #f9640a;
  font-weight: 600;
  text-decoration: none; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.container-full {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container-full:after {
    content: "";
    display: table;
    clear: both; }

h3 {
  margin-top: 1.5em; }

/* Top nav */
nav#nav-top {
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  border-bottom: 5px solid whitesmoke;
  /* Nav L/R sections */ }
  nav#nav-top .nav-toggle {
    position: absolute;
    top: 25px;
    right: 30px; }
    @media screen and (max-width: 470px) {
      nav#nav-top .nav-toggle {
        margin-right: -1em;
        font-size: .9em; } }
  nav#nav-top ul.mobile-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center; }
    @media screen and (max-width: 639px) {
      nav#nav-top ul.mobile-nav {
        display: block; } }
  nav#nav-top ul.main-nav {
    float: right;
    display: table;
    padding: 0; }
    nav#nav-top ul.main-nav:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 639px) {
      nav#nav-top ul.main-nav {
        display: none; } }
    @media screen and (max-width: 885px) {
      nav#nav-top ul.main-nav {
        height: auto;
        float: none; } }
    nav#nav-top ul.main-nav li {
      margin: auto 10px auto 0;
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid #f1f1f1;
      height: 100%;
      padding: 0px 10px 0px 0px; }
      nav#nav-top ul.main-nav li:last-of-type {
        border-right: 0;
        padding-right: 0;
        margin-right: 0; }
      @media screen and (max-width: 800px) {
        nav#nav-top ul.main-nav li {
          font-size: 14px;
          padding: 0px 20px 0 0; } }
      @media screen and (max-width: 1155px) {
        nav#nav-top ul.main-nav li {
          font-size: 14px;
          padding: 0 20px 0 0; } }
  nav#nav-top #logos {
    float: left;
    height: 100%; }
    @media screen and (max-width: 885px) {
      nav#nav-top #logos {
        display: block;
        float: none;
        width: 100%; } }
    nav#nav-top #logos .gf-logo {
      width: 300px;
      max-width: 100%;
      margin-right: 3%; }
      @media screen and (max-width: 475px) {
        nav#nav-top #logos .gf-logo {
          margin-left: -1em;
          width: 250px; }
          nav#nav-top #logos .gf-logo img {
            width: 100%; } }
      @media screen and (max-width: 350px) {
        nav#nav-top #logos .gf-logo {
          width: 200px; } }
    nav#nav-top #logos img {
      border: 0;
      margin-top: 10px;
      padding: 0; }
  nav#nav-top #main-nav {
    text-align: right;
    height: 100%; }
    @media screen and (max-width: 1140px) {
      nav#nav-top #main-nav {
        text-align: left; } }

/* Slider */
section#slider {
  background: #343434;
  border-bottom: 5px solid #346d80; }
  section#slider div.item {
    position: relative;
    //height: 100%;
    overflow: hidden; }
    section#slider div.item img {
      //height: 100%; }

/* 2 Col Layout */
section.layout-2col {
  padding: 60px 0; }
  section.layout-2col h1 {
    font-size: 28px;
    margin: 0 0 28px 0; }
  section.layout-2col #left {
    float: left;
    display: block;
    width: 68.23843%;
    padding: 0 60px 0 0; }
    section.layout-2col #left:last-child {
      width: 65.88078%; }
    @media screen and (max-width: 800px) {
      section.layout-2col #left {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 0; }
        section.layout-2col #left:last-child {
          margin-right: 0; } }
  section.layout-2col #right {
    padding: 0 0 0 60px;
    float: left;
    display: block;
    width: 34.11922%; }
    section.layout-2col #right:last-child {
      width: 31.76157%; }
    @media screen and (max-width: 800px) {
      section.layout-2col #right {
        width: 100% !important;
        padding-top: 30px;
        padding-left: 0; } }
    section.layout-2col #right section.video {
      margin-bottom: 4em; }
      section.layout-2col #right section.video h3 {
        margin: 0 0 1em 0; }
      section.layout-2col #right section.video iframe {
        max-width: 100%; width: 100%; }
      section.layout-2col #right section.video img {
        max-width: 100%; }
  section.layout-2col .r-long {
    border-left: 2px solid #346d80; }
    @media screen and (max-width: 800px) {
      section.layout-2col .r-long {
        border-left: 0;
        border-top: 2px solid #346d80; } }
  section.layout-2col .l-long {
    border-right: 2px solid #346d80; }
    @media screen and (max-width: 800px) {
      section.layout-2col .l-long {
        border-right: 0;
        border-bottom: 2px solid #346d80; } }

@media screen and (max-width: 1090px) {
  section.layout-2col #left {
    padding-left: 1em;
  }
  section.layout-2col #right {
    padding-right: 1em;
  }
}

@media screen and (max-width: 800px) {
  section.layout-2col #right {
    padding-left: 1em;
  }
}
/* Main */
main[role=content] p {
  margin: 24px 0;
  line-height: 1.5; }

/* Sidebar */
.sidebar article {
  margin-bottom: 32px; }
  .sidebar article h3 {
    color: #346d80;
    font-weight: 600;
    font-size: 16px;
    margin: 0; }
  .sidebar article p {
    margin: 5px 0 0 0;
    line-height: 1.5; }

/* Footer */
footer {
  border-top: 5px solid whitesmoke;
  background: #444444;
  text-align: center;
  padding: 30px 30px;
  color: white; }

footer nav a {
  color: white;
}
nav#nav-btm ul li {
  display: inline-block;
  padding: 4px 16px;
  font-weight: 600;
  font-size: 14px;
  border-right: 1px solid #fff; }
  nav#nav-btm ul li:first-of-type {
    padding: 4px 16px 4px 0px; }
  nav#nav-btm ul li:last-of-type {
    border: 0;
    padding: 4px 0 4px 16px; }
  @media screen and (max-width: 800px) {
    nav#nav-btm ul {
      padding: 0;
    }
    nav#nav-btm ul li {
      display: block;
      margin-bottom: 6px;
      border: 0; }
      nav#nav-btm ul li:first-of-type {
        padding: 0; }
      nav#nav-btm ul li:last-of-type {
        padding: 0; } }

.legal {
  max-width: 60%;
  margin: 30px auto; }
  @media screen and (max-width: 800px) {
    .legal {
      max-width: 100%; } }
  .legal p {
    margin: 16px auto; }
  .legal a, .legal .copy {
    display: block;
    margin-bottom: 16px;
    font-size: 12px; }

/* FAQs */
dl.faq dt {
  margin: 0;
  font-weight: 600; }
  dl.faq dt:before {
    font-weight: 600;
    content: "Q: "; }
dl.faq dd {
  margin-bottom: 1.5em;
  text-indent: 0;
  margin-left: 0; }
  dl.faq dd:before {
    content: "A: "; }

.banner-image {
  width: 1200px;
  height: 394px; }

.banner-image-1 {
  background-image: url("../images/banner-1.jpg");
  background-repeat: no-repeat; }

.banner-image-inner {
  position: absolute;
  bottom: 48px;
  left: 90px;
  color: #fff !important; 
  width: 400px;
}
  @media screen and (max-width: 700px) {
    .banner-image-inner {
      bottom: 10%;
      left: 10%; 
    max-width: 80%;} 
    .carousel-inner .item {
      height: 300px;
      overflow: hidden;
    }
    .carousel-inner .item img,
    .carousel-inner .item a img {
      width: auto;
      max-width: auto !important;
      height: 300px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: auto;
      max-width: auto !important;
      height: 300px;
    }
  }

.banner-image-inner h1 {
  font-weight: 700;
  font-size: 1.75em;
  text-shadow: black 1px 1px 5px; }
  @media screen and (max-width: 700px) {
    .banner-image-inner h1 {
      font-size: 20px; } }
.banner-image-inner h2 {
  font-weight: 400;
  font-size: 1.25em;
  text-shadow: black 1px 1px 5px; }
  @media screen and (max-width: 700px) {
    .banner-image-inner h2 {
      font-size: 16px; } }
.banner-image-inner p {
  text-shadow: black 1px 1px 5px; }
  @media screen and (max-width: 700px) {
    .banner-image-inner p {
      font-size: 14px; } }
.banner-image-inner div.blue-button {
  background: #3F6D80;
  display: table;
  padding: 1em;
  text-shadow: 0px; }
  @media screen and (max-width: 700px) {
    .banner-image-inner div.blue-button {
      padding: .5em;
      font-size: 12px; } }
  .banner-image-inner div.blue-button a {
    color: #fff;
    text-shadow: 0px; }
ol.carousel-indicators {
  display: none;
  position: absolute;
  top: 0;
}

div.two-col-inner {
  width: 100%; }
  div.two-col-inner > div {
    width: 50%;
    display: inline-block;
    padding: 0 1em 0 0; }
    @media screen and (max-width: 600px) {
      div.two-col-inner > div {
        float: none;
        display: block;
        width: 100%; } }
  div.two-col-inner div:last-of-type {
    padding: 0;
    float: right; }
