a{text-decoration:none;color:blue}
a:hover {text-decoration:underline;color:red }
body {background-color:#FFFFFF}
table {cellpadding:0;cellspacing:0;font-family:"Verdana";font-size:9pt;border:0px solid #BCBABA}
input { font-family:"Verdana"; color:#000000;font-size:8pt;font-weight:normal;border:1px solid #BCBABA;}
textarea { font-family:"Verdana"; color:#000000;font-size:8pt;font-weight:normal;border:1px solid #BCBABA;}
select { font-family:"Verdana"; color:#000000;font-size:8pt;font-weight:normal;}
img { font-family:"Verdana"; font-size:8pt;font-weight:normal;border:0}

.button { font-family:"Verdana";background-color:#5C74A3;color:#FFFFFF;font-size:8pt;font-weight:normal;border-right:1px solid #0E1F5B;border-bottom:1px solid #0E1F5B;border-left:1px solid #D9DFEA;border-top:1px solid #D9DFEA;}
.tableContent {border-top:1px solid #C4CDE0;border-right:1px solid #C4CDE0;margin:1em auto;border-collapse:collapse;}
.FieldName {font-weight:bold;color:#678197;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;padding:.3em 1em;text-align:center;background:#CFDEFF}
.FieldData_Odd {color:#000000;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:center;background:#FFFFFF}
.FieldData_Even {color:#000000;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:center;background:#ECF2FC}
.FieldData_Odd_NOLINE {color:#000000;border-bottom:1px solid #C4CDE0;border-left:0px solid #C4CDE0;text-align:left;background:#FFFFFF}
.FieldData_Even_NOLINE {color:#000000;border-bottom:1px solid #C4CDE0;border-left:0px solid #C4CDE0;text-align:left;background:#ECF2FC}
.FieldData_Odd_L {color:#000000;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:left;background:#FFFFFF}
.FieldData_Even_L {color:#000000;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:left;background:#ECF2FC}
.Header{font-family:"Verdana"; height:"20";background-color:#5d5f67;border:0px solid #000000;color:#FFFFFF;font-size:8pt;font-weight:bold;}  
.SubHeader{font-family:"Verdana"; font-size:10pt;font-weight:normal;background-color:#7E97C2;color:#FFFFFF;border:1px solid #476EA9;text-align:center}
.HeaderTable{font-family:"Verdana"; height:"20";background-color:#5d5f67;border:1px solid #000000;color:#FFFFFF;font-size:8pt;font-weight:bold;}  
.Footer {text-align:center;background-color:#5d5f67; font-family:"Verdana"; font-size:8pt; border:1px solid #000000;color:#FFFFFF}
.DetailsHeader {text-align:left;font-weight:bold;color:#000000;background-color:#ECEFF5;height:20px; font-family:"Verdana"; font-size:8pt; border-top:1px solid #94A3C4;}
.DetailJITHeader {text-align:center;font-weight:bold;color:#25587E; background-color:#A0CFEC; font-family:"Arial"; font-size:7.5pt; border:0 solid #96C8DF;}
.DetailJITData {text-align:left;font-weight:normal;color:#000000; background-color:#F3F8F9; font-family:"Verdana"; font-size:7.5pt; border:0 solid #96C8DF;}
.PackingHeader {text-align:left;font-weight:bold;color:#544E4F; background-color:#FFFFFF; font-family:"Verdana"; font-size:8pt; border-bottom:thin solid #544E4F;}
.CFieldData {text-align:center;font-weight:normal;color:#898989; background-color:#FFFFFF; font-family:"Verdana"; font-size:8pt; border:1px solid #C4CDE0}
.LeftAlign {text-align:left;}
.SubtableContent {border:1px solid #94A3C4;margin:1em auto;border-collapse:collapse;}

table.Subtable {border:1px solid #94A3C4;border-collapse:collapse;background-color:#F7F7F7;}
table.Subtable th {text-align:left;font-weight:bold;color:#000000;background-color:#ECEFF5;padding:4px; font-family:"Verdana"; font-size:8pt; border-top:1px solid #94A3C4;}
table.Subtable td {text-align:left;padding:3px;border:0px solid #BCBABA}

table.Subtable2 {border-top:1px solid #94A3C4;border-collapse:collapse;background-color:#F7F7F7;}
table.Subtable2 th {text-align:left;font-weight:bold;color:#000000;background-color:#ECEFF5;padding:4px; font-family:"Verdana"; font-size:8pt; border-top:1px solid #94A3C4;}
table.Subtable2 td {text-align:left;padding:3px;}

table.list {border-top:1px solid #94A3C4;border-right:1px solid #94A3C4;border-left:1px solid #94A3C4;border-bottom:1px solid #94A3C4;margin:1em auto;border-collapse:collapse;}
table.list tr.tablename td{font-family:"Verdana"; font-size:10pt;font-weight:normal;background-color:#7E97C2;color:#FFFFFF;border:0px solid #C4CDE0;text-align:left}
table.list th {font-weight:bold;color:#678197;border-bottom:1px solid #7E97C2;border-left:0px solid #C4CDE0;text-align:center;background:#CFDEFF}
table.list tr.subtitle th{font-weight:normal;color:#000000;border-bottom:0px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:center;background:#FFFFFF}
table.list tr.odd td {color:#000000;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:center;background:#FFFFFF;font-size:7pt;}
table.list tr.even td {color:#000000;border-bottom:1px solid #C4CDE0;border-left:1px solid #C4CDE0;text-align:center;background:#ECF2FC;font-size:7pt;}
table.list tr.header td {color:#000000;text-align:center;background:#7E97C2;font-weight:normal;border-bottom:1px solid #C4CDE0;border-right:1px solid #C4CDE0;}
table.list tr.footer td {color:#FFFFFF;text-align:left;background:#5d5f67}
table.list tr.error td{background-color:#FFECEC;border-top:solid 1px #FF3333;border-bottom:solid 1px #FF3333;color:#A80000;text-align:center;font-size:7pt;}

table.ErrorMessage {background-color:#FFECEC;border-top:solid 2px #FF3333;border-bottom:solid 2px #FF3333;color:#A80000;text-align:center;font-size:8pt;}

table.tab {border-top:1px solid #94A3C4;border-right:1px solid #94A3C4;border-left:1px solid #94A3C4;border-bottom:1px solid #94A3C4;border-collapse:collapse;}

table.smallform {border:8px solid black;border-collapse:collapse;background-color:#FFFFFF;}
table.smallform th {text-align:left;font-weight:bold;color:#FFFFFF;background-color:#6D84B4;padding:4px; font-family:"Verdana"; font-size:8pt; border-bottom:1px solid #5d5f67;}
table.smallform td {text-align:left;padding:3px;}
table.smallform tr.footer td{text-align:right;color:#FFFFFF;background-color:#F2F2F2;padding:0px; font-family:"Verdana"; font-size:8pt; border-top:1px solid #CCCCCC;}


span.checkbox { 
  width: 19px; 
  height: 18px; 
  padding: 0 0px 0 0; 
  background: url(../images/checkbox.gif) no-repeat; 
  display: block; 
  clear: left; 
  float: left; 
} 

span.radio {
  width: 19px;
  height: 18px;
  padding: 0 0px 0 0;
  background: url(../images/radio.gif) no-repeat;
  display: block;
  clear: left;
  float: left;
}

span.select {
  position: absolute;
  width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
  height: 21px;
  padding: 0 24px 0 8px;
  color: #fff;
  font: 12px/21px arial,sans-serif;
  background: url(select.gif) no-repeat;
  overflow: hidden;
}

.white_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 101.5%;
  height: 100%;
  background-color: white;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.0;
  filter: alpha(opacity=70);
  }
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 40%;
  width: 380px;
  height: auto;
  padding: 0px;
  border: 0px solid #94A3C4;
  background-color: white;
  -moz-opacity: 0.2;
  opacity:.90;
  filter: alpha(opacity=100);
  z-index:1002;
  overflow: auto;
}