	/* remove the list style */
	#nav {
		margin:0; 
		padding:0; 
		list-style:none;
		background:#5d5f67;		
		color:#FFFFFF;		
		font-size:8pt;
		font-family: Verdana;
		
	}	
	
		/* make the LI display inline */
		/* it's position relative so that position absolute */
		/* can be used in submenu */
		#nav li {
			float:left; 
			display:block;
			position:relative;			
			margin:0 1px;			
			font-family: Verdana;
			font-style: normal;
			font-size:8pt;
			height:"12px";
			background-color:#5d5f67;
			color:#FFFFFF;	
            z-index:500; 					
		}
		
		/* this is the parent menu */
		#nav li a {
			//display:block; 
			padding:8px 5px 3px 3px; 
			font-family: Verdana;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			text-decoration:none; 
			font-size:8pt;
			height:12px;
			//text-align:center; 
			color:#FFFFFF;
			
		}

		#nav li a:hover {
		    font-family: Verdana;
			font-style: normal;
			font-variant: normal;
			text-decoration:none; 
			font-size:8pt;
			height:12px; 
			color:#FFFFFF;
			background-color:#0B0B3B;
			text-align:left; 
		}
	
		/* you can make a different style for default selected value */
		#nav a.selected {
		    font-family:Verdana;
			font-style: normal;
			font-variant: normal;
			text-decoration:none;
            font-size:8pt;			
			color:#f00;
			text-align:left; 
		}
	
		/* submenu, it's hidden by default */
		#nav ul {
			position:absolute; 
			left:0; 
			display:none; 
			margin:0 0 0 -1px; 
			padding:0; 
			list-style:none;
		}
		
		#nav ul li {
		    
			width:137px; 
			float:left; 
			border-top:1px solid #fff;
			text-align:left; 
		}
		
		/* display block will make the link fill the whole area of LI */
		#nav ul a {
			display:block;  
			height:12px;
			padding: 8px 5px; 
			color:#FFFFFF;
			text-align:left; 
		}
		
		#nav ul a:hover {
			text-decoration:none;
            text-align:left; 			
		}

		/* fix ie6 small issue */
		/* we should always avoid using hack like this */
		/* should put it into separate file : ) */
		*html #nav ul {
			margin:0 0 0 -2px;
		}

		
