@model List<SitefinityWebApp.Mvc.Models.HomePageCarouselWidgetModel>

<div id="mammoth-carousel" class="carousel slide">
    <ol class="carousel-indicators">
        @foreach (var carouselItem in Model)
        {
            <li data-target="#carousel-item" data-slide-to="@carouselItem.SlideNumber" class="@carouselItem.CssClass"></li>
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var carouselItem in Model)
        {
            <div class="item @carouselItem.CssClass">
                <img 
                    alt="@carouselItem.Title" 
                    src="@carouselItem.ImageUrl"
                    data-desktop-src="@carouselItem.ImageUrl"
                    data-mobile-src="@carouselItem.MobileImageUrl" />

                <div class="banner-image-inner">
                    <h1>@carouselItem.MainHeading</h1>
                    <h2><a href="@carouselItem.NavigationButtonUrl">@carouselItem.SubHeading</a></h2>
                    <p>@carouselItem.SubSubHeading</p>
                    <div class="blue-button"><a href="@carouselItem.NavigationButtonUrl">@carouselItem.NavigationButtonText</a> </div>
                </div>
            </div>
        }
    </div>
      <!-- Controls -->
    <a class="left carousel-control" href="#mammoth-carousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mammoth-carousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>